.cards {
    display: flex;
    flex-wrap: wrap;
  height: 100%;
  overflow-y: auto;
  padding: 1rem;
}
.card{
    flex-grow: 1;
    flex-basis: 20rem;
    max-width: 27rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;
    background-color: #1c1c1c;
    border-radius: 0.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img{
        width: 100%;
    }
    h1{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .description{
        opacity: 0.7;
        word-spacing: 0.3rem;
        line-height: 1.2;
    }
    .tags{
        display: flex;
        flex-wrap: wrap;
        .tag{
            background-color: #2c2c2c;
            width: fit-content;
            padding-inline: 1.25rem;
            padding-block: 0.75rem;
            border-radius: 0.75rem;
            white-space: nowrap;
        }
    }
}