.window {
  width: 100%;
  height: 100%;
  background-color: rgb(28, 24, 24);
  border-radius: 1rem;
  overflow: hidden;
  color: rgb(118, 112, 112);

  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    border-bottom: 1px solid whitesmoke;

    
    .dots {
      display: flex;
      gap: 0.25rem;

      .dot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: aliceblue; 

        &.red {
          background-color: rgb(159, 45, 45);
        }
        &.yellow {
          background-color: rgb(158, 158, 28);
        }
        &.green {
          background-color: rgb(31, 97, 31);
        }
      }
    }

    .title {
      p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  }

  .main-content {
    height: calc(100% - 40px); 
    overflow: hidden;
    position: relative;

    .cards {
      height: 100%;
      overflow-y: auto;
      padding: 1rem;

   
      .tags {
        display: flex;
        gap: 0.5rem;
        flex-wrap: wrap;

        .tag {
          padding: 0.2rem 0.5rem;
          background-color: rgb(59, 55, 55);
          border-radius: 0.25rem;
          font-size: 0.75rem;
          color: #fff;
        }
      }

      
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 10px;
      }
    }
  }
} 