.dock {
  display: flex;
  gap: 8px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 0.30rem 1rem;
  border-radius: 0.75rem;
  background-color: rgba(59, 55, 55, 0.6);


  .icon {
    padding: 0.65rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    transition: all 0.8s linear;

    img {
      height: 30px;
      width: 30px;
      border-radius: 3px;
    }

    
  }
  .icon:hover{
    transform: scale(1.2) translateY(-15%);
  }
  .icon:hover+.icon,.icon:has(+ .icon:hover){
    transform: scale(1.1) translateY(-7%);
  }

}
