nav {
  position: relative;
  z-index: 10;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  color: aliceblue;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 0.8rem;

  .left {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .apple-icon {
      display: flex;
      align-items: center;
      gap: 0.35rem;
      font-size: 14px;
      cursor: pointer;
      

      img {
       
        height: 25px;
        width: 25px;
        object-fit: contain;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 1rem;
    .nav-icon img{
        height: 25px;
        width: 25px;

    }
  }
}
